@import "../../scss/vars.scss";

.topbar {
  width: 85%;
  margin: 2em 0;
  background-color: $color-light-main;

  .topbar__link {
    display: block;
    width: 100%;
    text-align: right;
    padding: 16px;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
      box-shadow: 0pt 0pt 0 4pt $color-light-transparent;
    }
    & > * {
      color: $color-dark-main;
    }
    & > * {
      @media (max-width: 600px) {
        font-size: 2.5em;
      }
    }
  }
}
