@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&family=Lato&display=swap");

$color-dark-main: #ffffff;
$color-light-main: #492b2f;
$color-light-transparent: rgba(110, 58, 75, 0.9);
$color-light-transparent-bg: rgba(255, 242, 250, 0.02);
$color-transparent: rgba(255, 255, 255, 0);

$font-headers: "Staatliches";
$font-text: "Lato";
